
/* Your CSS Code here. */
.holder {
  display: flex;
  flex-wrap: wrap;
  justify-content: row;
}

/* CSS for the item elements */
.item {
  margin: 100px;
  padding: 20px;
  background-color: #f2f;
  border: 1px ;
}